::-webkit-scrollbar {
    width: 8px;
    height: 12px; 
}


::-webkit-scrollbar-thumb {
    background-color: #D9D9D9; 
    border-radius: 6px; 
}

.container
{
    
    margin-top: var(--header-height);
}
.main   
{
    min-height: 100vh;
    display: flex;
}
.slider_bar
{
    flex-shrink: 0;
}
.slider_bar_select
{
    position: sticky;
    top: 80px;
    width: var(--layout-sidebar-width);
    z-index: 8;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 8px;
}

.slider_bar_select ul
{
    display: flex;
    flex-direction: column;
    gap: 4px;
    
}
.select_item
{
    width: 72px;
    height: 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: white;
    color: #1a1a1a;
    border-radius: 16px;
    background-color: #e8ebed;

}
.select_item span
{
    font-size: 11px;
    font-weight: 600;
    margin-top: 8px;
    color: black;
}
.main_item
{
    width: min(100% - var(--layout-sidebar-width), 2400px);
    margin: 0 auto;
    padding: 0 32px 0 10px;
}
.container_main 
{
    --grid--x:24px;
    --grid--y:0;
    width: 100%;
    margin: 0 auto;
    padding-left: calc(var(--grid--x)*0.5);
    padding-right: calc(var(--grid--x)*0.5);
}
.main_slideshow
{
    margin: 18px 0 0 0;
    padding: 0 0 12px 0 ;
}
.main_slideshow_item

{
    --slideshow-height:300px;
    min-height: var(--slideshow-height);
}
.initialized
{
    position: relative;
    display: block;
}
.item 
{
    display: flex;
    height: var(--slideshow-height);
    border-radius: 16px;
    overflow: hidden;
    --cta-hover-color: #007efe;
        background: linear-gradient(to right, rgb(0, 126, 254), rgb(6, 195, 254));
}
.item_left 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    width: 640px;
    max-width: 100%;
    padding: 0 36px;
    color: white;
    font-size: 16px;
    line-height: 1.6;
}
.heading_item_left
{
    margin-bottom: 8px;
}
.heading_item_left a
{
        color: #fff;
        font-size: 32px;
        line-height: 1.5;
        font-weight: 700;
}
.item_left p{
        max-width: 600px;
        margin-top: 0;
        margin-bottom: 24px;
}
.item_left .btn_click
{
    text-align: center;
    display: inline-block;
    min-width: 124px;
    padding: 4px 10px;
    color: #fff;
    border-radius: 16px;
    border: 2px solid #fff;
    font-size: 14px;
    font-weight: 700;
    transition: ease .2s;
}
.item_right
{
    flex: 3;
    display: flex;
    justify-content: flex-end;
}

.slideshow_img
{
    height: 100%;
    object-fit: cover;
}
.btn_previous
{
    transform: translate(-50%, -50%);
}
.btn_next
{
    right: 0;
    transform: translate(50%, -50%);
}
.btn_previous,.btn_next
{
    position: absolute;
    top: 50%;
    width: 32px;
    height: 32px;
    border-radius: 40px;
    box-shadow: 0 3px 6px #00000029;
    text-align: center;
    line-height: 32px;
    cursor: pointer;
    background: white;
}
.select_slide
{
    bottom: -25px;
    left: 40px;
    display: flex;
    width: 100%;
    list-style: none;
    text-align: center;
}
.select_slide li
{
    
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}
.select_slide li button
{
    
    position: relative;
    display: inline-block;
    width: 32px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
   
}
.select_slide li button::before
{
    font-family: slick;
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 8px;
    content: "•";
    text-align: center;
    opacity: .25;
    color: #000;
    -webkit-font-smoothing: antialiased;
}
.item_learn
{
    padding: 0 44px 74px;
    overflow: hidden;
}
.item_learn_pro,.item_learn_free,.item_hot_blog
{
    margin-top: 50px;
}
.learn_pro_text,.learn_free_text {
    display: flex;
    align-items: baseline;
}
.icon_right
{
    margin-top: 2px;
    width: 20px;
    display: inline-block;
    height: 20px;
    border-radius: 50%;
    font-size: 11px;
    text-align: center;
    line-height: 20px;
    background-color: #f3f3f3;
}
.learn_text
{
    font-weight: 1000;
    margin: 16px auto 28px 0;
    color: #242424;
}
.learn_pro_text .learn_pro_icon
{   
    position: relative;
    top: -6px;
    right: -8px;
    padding: 3px 6px;
    font-weight: 500;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 4px;
    background-color: #1473e6;
    
}
.learn_pro_body
{
    min-height: 200px;
}
.item_column
{
    display: flex;
    flex-wrap: wrap;
    margin: -36px -12px 0;
}
.col
{
    padding: 0 12px;
    margin-top: 36px;
    flex: 0 0 auto;
    width: 16.6666666667%;
}
.col_item
{
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 16px;
    background: #00000008;
    transition: transform .2s, box-shadow .2s;
}
.col_item .col_item_img
{
    position: relative;
    display: block;
    width: 100%;
    padding-top: 56.25%;
    border-radius:  16px 16px 0 0 ;
    object-fit: cover;
}
.col_item_img img
{
    position: absolute;
    top: 0;
    border-radius: 16px 16px 0 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.content
{
    padding: 16px 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex:1;
}
.content .title_item
{
font-weight: 600;
}
.title_item a
{
    color: #292929;
    font-size: 16px;
}
.price 
{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 18px;
}
.old_price
{
 font-size: 14px;   
 text-decoration: line-through;
}
.main_price
{
    font-size: 16px;
    font-weight: 600;
    color: var(--primary-color);
}
.infor_item
{
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}
.infor_mentor div img
{
    height: 18px;
    width: 18px;
    object-fit: cover;
    border-radius: 50%;
}
.infor_1,.infor_pro,.infor_hot_video
{
    display: flex;
    align-items: center;
    gap: 6px;
    color: #666;
    font-size: 14px;
}
.learn_people
{
    color: #82919b;
    font-size: 14px;
    margin-bottom: 0;
}
.learn_heading_name
{
    color: #000;  
}
.learn_heading_roadmap
{
    padding: 8px 0 8px 8px;
    margin-right: 4px;
    font-size: 15px;
    font-weight: 600;
    color: var(--primary-color);
    background-color: transparent;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}
.price_main
{
    font-weight: 600;
    color: var(--primary-color);
}
.hot_blog_item
{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: auto;
    line-height: 1.4;
    font-size: 14px;
    color: #757575;
}
.infor_menter .avatar_mentor

{
    width: 19px;
    height: 19px;
}
.user_profile
{
    display: flex;
    align-items: center;
}
.user_name
{
    color: #292929;
    font-weight: 600; 
    
}
.btnwrap
{
    position: fixed;
    left: 22px;
    bottom: 60px;
}
.btn_notice
{
    width: 44px;
    height: 44px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #404040;
    background-color: #f0f0f0cc;
    border-radius: 50%;
    margin-top: 4px;
    cursor: pointer;
}
.btn_icon
{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
