@import url('f8_header.css');
@import url('f8_container.css');
@import url('f8_footer.css');
@import url('roadmap.css');
@import url('new.css');
@import url('f8_signup.css');
@import url('f8_forget.css');
@import url('f8_resposive.css');
@import url('f8_hover.css');
*

{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body
{
    font-family: system-ui, "Segoe UI", Arial, sans-serif;

}
a
{
    text-decoration: none;
    
}
button
{
    border: none;
    outline: none;
    box-shadow: none;
    display: block;
    padding: 0;
    color: inherit;
}
strong,b ,h1,h2,h3,h4,h5,h6
{
    font-weight: 600;
}
ul
{
    list-style-type: none;
}
button, input {
    font-family: inherit;
}
.svg-inline--fa 
{
    height: 1em;
    fill: currentColor;
}
.svg-inline--fa {
    display: inline-block;
    height: 1em;
    overflow: visible;
    vertical-align: -.125em;
    fill: red;
}
._icon_hoymy_1 {
    color: #1b74e4;
    margin-left: 4px;
}
.fa-bookmark,.fa-ellipsis
{
    color:#757575 ;
}
.active {
    background-color: #e8ebed;
    
}
body.modal-open
{
overflow:hidden
}



:root
{
    --toastify-color-light: #fff;
    --toastify-color-dark: #121212;
    --toastify-color-info: #3498db;
    --toastify-color-success: #07bc0c;
    --toastify-color-warning: #f1c40f;
    --toastify-color-error: #e74c3c;
    --toastify-color-transparent: rgba(255, 255, 255, .7);
    --toastify-icon-color-info: var(--toastify-color-info);
    --toastify-icon-color-success: var(--toastify-color-success);
    --toastify-icon-color-warning: var(--toastify-color-warning);
    --toastify-icon-color-error: var(--toastify-color-error);
    --toastify-toast-width: 320px;
    --toastify-toast-background: #fff;
    --toastify-toast-min-height: 64px;
    --toastify-toast-max-height: 800px;
    --toastify-font-family: sans-serif;
    --toastify-z-index: 9999;
    --toastify-text-color-light: #757575;
    --toastify-text-color-dark: #fff;
    --toastify-text-color-info: #fff;
    --toastify-text-color-success: #fff;
    --toastify-text-color-warning: #fff;
    --toastify-text-color-error: #fff;
    --toastify-spinner-color: #616161;
    --toastify-spinner-color-empty-area: #e0e0e0;
    --toastify-color-progress-light: linear-gradient(to right, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55);
    --toastify-color-progress-dark: #bb86fc;
    --toastify-color-progress-info: var(--toastify-color-info);
    --toastify-color-progress-success: var(--toastify-color-success);
    --toastify-color-progress-warning: var(--toastify-color-warning);
    --toastify-color-progress-error: var(--toastify-color-error);
    --fa-style-family-classic: "Font Awesome 6 Free";
    --fa-font-solid: normal 900 1em / 1 "Font Awesome 6 Free";
    --primary-color: #f05123;
    --black-color: #000;
    --white-color: #fff;
    --gray-color: #666;
    --text-color: #333;
    --plum-color: #b80257;
    --fb-color: #4080ff;
    --mail-color: #f47425;
    --invalid-color: #f33a58;
    --desc-color: #0000008a;
    --first-color: #1dbfaf;
    --second-color: #1dbfaf;
    --button-color: #1dbfaf;
    --button-image: linear-gradient(70.06deg, #2cccff -5%, #22dfbf 106%);
    --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-code: "SF Mono", monospace;
    --header-height: 66px;
    --layout-sidebar-width: 96px;
    --header-height:66px;
    --divider-color: #dee3e9;
    --button-image: linear-gradient(70.06deg, #2cccff -5%, #22dfbf 106%);
    --comment-primary-button-bg: #0093fc;
}
