
::-webkit-scrollbar {
    width: 8px;
    height: 12px; 
}


::-webkit-scrollbar-thumb {
    background-color: #D9D9D9; 
    border-radius: 6px; 
}
a
{
    text-decoration: none;
}
.container
{
    
    margin-top: var(--header-height);
}
.main   
{
    min-height: 100vh;
    display: flex;
}
.slider_bar
{
    flex-shrink: 0;
    background: white;
    position: relative;
    z-index: 50;
}
.slider_bar_select
{
    position: sticky;
    top: 80px;
    width: var(--layout-sidebar-width);
    z-index: 8;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 8px;
    background: white;
}

.slider_bar_select ul
{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.select_item
{
    width: 72px;
    height: 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: white;
    color: #1a1a1a;
    border-radius: 16px;
    background-color: white;

}
.select_item span
{
    font-size: 11px;
    font-weight: 600;
    margin-top: 8px;
    color: black;
}
.main_item
{
    width: min(100% - var(--layout-sidebar-width), 2400px);
    margin: 0 auto;
    padding: 0 32px 0 10px;
}
.container_main 
{
    --grid--x:24px;
    --grid--y:0;
    width: 100%;
    margin: 0 auto;
    padding-left: calc(var(--grid--x)*0.5);
    padding-right: calc(var(--grid--x)*0.5);
}
.container_fluid
{
    padding: 8px 44px 0;
    margin-bottom: 60px;
}
.container_top
{
    margin: 32px 0 80px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.container_top h1
{
    font-weight: 900;
    font-size: 24px;
}
.warrper
{
    max-width: 840px;

}
.warrper p 
{
    padding: 16px 0;
    font-size: 14px;
}
.container_select 
{
    margin-top: 24px;
    display: flex;
}
.select
{
    padding: 24px;
    width: 500px;
    border: 2px solid #e8e8e8;
    border-radius: 16px;
}
.two
{
    margin: 0 0 0 24px;
}
.select_body
{
    display: flex;
    margin: 0 0 20px 0 ;
}
.intro_text h1 a
{
font-size: 20px;
font-weight: 900;
color: black;
padding: 0 0 14px 0 !important ;
}
.intro_img
{
    padding: 0 0 0 24px;
}
.intro_round
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 122px;
    height: 122px;
    border-radius: 50%;
    border: 5px solid var(--primary-color);
}
.intro_round img
{
    width: 98px;
    height: 98px;
    border-radius: 50%;
    object-fit: cover;
}
.btn_watch
{
    border-radius: 40px;
    height: 32px;
    line-height: 1.8;
    min-width: 148px;
    display: inline-block;
    letter-spacing: 1;
    text-transform: uppercase;
    border: none;
    outline: none;
    cursor: pointer;
    background: linear-gradient(#5ebbff80 40%, #a174ff80)
}
.btn_border
{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    height: 100%;
    width: 100%;
    padding: 4px 16px;
    background-color: var(--comment-primary-button-bg)
}
.btn_border span
{
    color: white;
    font-weight: 700;
}
.container_wrapper
{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.infor
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 400px;
}
.btn_join
{
    color: #292929;
    border: 2px solid #292929;
    padding: 10px 16px;
    border-radius: 40px;
    font-weight: 600;
    font-size: 15px;
    transition: ease .2s;
    margin-top: 8px;
}
.infor_img img
{
    width: 420px;
    height: 420px;
    max-width: 100%;
}